<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <connectionStrings>
    <add name="connection" connectionString="Data Source=146.0.42.118;Initial Catalog=KIDMIS;Persist Security Info=True;User ID=Stajyer;Password=123;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>